[theme]

inherit = cloud
stylesheet = cloud.css

[options]

#borderless_decor = true

#styling for document body
bgcolor = #{{base01-hex}}
textcolor = #{{base05-hex}}
linkcolor       = #{{base09-hex}}
#codebgcolor      = #FFEFCF
codebgcolor      = #{{base00-hex}}
codetextcolor = #{{base05-hex}}
codetrimcolor    = rgba(0,0,0,.05)
link_hover_text_color = #{{base09-hex}}
link_hover_trim_color = #{{base09-hex}}
link_hover_bg_color = #{{base02-hex}}
highlightcolor = #{{base02-hex}}

#styling for document headers
headtextcolor = #{{base09-hex}}
headtrimcolor = #{{base09-hex}}
sectionbgcolor = #{{base02-hex}}
sectiontextcolor = #{{base09-hex}}
sectiontrimcolor = #{{base09-hex}}
rubricbgcolor =  #{{base02-hex}}

#styling for footer / html background
footerbgcolor   = #{{base00-hex}}
footertextcolor = #{{base05-hex}}

#styling for sidebar
sidebarbgcolor  = #{{base01-hex}}
sidebartrimcolor= #{{base09-hex}}
sidebarlinkcolor= #{{base09-hex}}
sidebarhighcolor= #{{base01-hex}}
sidebar_button_bg= #{{base01-hex}}
bodytrimcolor = #{{base03-hex}}

#styling for top & bottom relbars
relbarbgcolor   = #{{base01-hex}}

# objects
object_default_color = #{{base00-hex}}
object_class_color =

# index page
index_category_color = #{{base03-hex}}

# font configuration
#bodyfont        = "Noticia Text", serif
#headfont        = "Noticia Text", serif
#fontcssurl = //fonts.googleapis.com/css?family=Noticia+Text|Droid+Sans+Mono
